/* CSS Document */

:root {
    /* COLOR VARIABLES */
    --primary-bg-color: rgb(0, 0, 0);            /* Black */
    --secondary-bg-color: rgb(26, 26, 26);       /* Dark Grey */
    --primary-text-color: rgb(255, 255, 255);    /* White */
    --secondary-text-color: rgb(152, 88, 211);   /* Light Urple */
    --primary-accent: rgb(85, 41, 123);          /* Purple */
    --secondary-accent: #FFC200;                 /* Gold */
	
	--color1: #55297B;
	--color2: #161616;
	
    
    /* FONT VARIABLES */
    --primary-font: 'Contrail One';
    --secondary-font: 'Raleway';
}

/* SITEWITE */

body {
    background-color: var(--secondary-bg-color);
    font-family: var(--secondary-font), cursive;
}

.contrail {
	font-family: 'Contrail One';
}

.purple {
    color: var(--secondary-text-color);
}

.purple-bg {
    background-color: var(--primary-accent);
}

.col-* {
	padding: 0px;
}

@media (max-width: 767px) {
    p.text-left-md {
        text-align: center;
    }
    p.text-right-md {
        text-align: center;
    }
}
@media (min-width: 768px) {
    p.text-left-md {
        text-align: left;
    }
    p.text-right-md {
        text-align: right;
    }
}

div.row {
    padding: 10px;
}

/* NAVBAR */

.navbar {
	background-color: var(--primary-accent) !important;
}

nav.navbar {
    /*background-color: var(--secondary-bg-color);*/
    color: var(--secondary-accent);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    align-content: center;
    z-index: 1;
    padding: 0px;
}

a.navbar-brand {
    font-family: var(--primary-font), cursive;
	margin: 0px;
	padding: 0px;
}

nav.navbar div.row {
    margin-left: auto;
    margin-right: auto;
}

nav.navbar div.row a {
    margin-left: 0px;
	color: var(--primary-text-color);
}

nav.navbar div.row ul {
    margin-right: 0px;
    text-align: right;
}

nav.navbar div.row ul li {
    text-align: center;
    font-size-adjust: 90%;
    font-weight: bold;
    padding: 8px 0px 0px 0px;
    margin: 0px;
}
a.nav-link {
    padding: 0px;
    margin: 0px;
    vertical-align: middle;
    white-space: nowrap;
}
nav.navbar div.row ul li a.nav-link {
	color: var(--primary-text-color);
}
nav.navbar div.row ul li.active a.nav-link {
	color: var(--secondary-accent);
}
nav.navbar div.row ul li a.nav-link:hover {
    color: var(--secondary-accent);
    text-decoration: underline;
    font-weight: bold;
}

header {
	padding-top: 90px;
}

/* BODY */

h1, h2, h3 {
    font-family: var(--primary-font), cursive;
    color: var(--primary-text-color);
    /*text-shadow: 3px 3px 3px #666;*/
}

.jumbotron {
    background-image: url("../images/BG_img_01.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: var(--primary-bg-color);
    color: var(--primary-text-color);
    min-height: 200px;
    margin: 0px;
	padding: 32px 32px 32px 32px;
}

section {
    background-image: url("../images/BG_img_02.jpg");
    background-repeat: repeat;
    background-position: center;
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
    font-family: var(--secondary-font), sans-serif;
    min-height: 200px;
    margin: 0px;
}

.bg-1 {
	/*background-image: url("../images/bg_banner-G01.jpg");
    background-repeat: repeat;
    background-position: center;*/
	
}

.bg-1:hover {
	background-image: url("../images/bg_banner-Yellow.jpg");
    background-repeat: repeat;
    background-position: center;
	color: var(--color2);
}

.bg-2 {
	background-image: url("../images/bg_banner-G02.jpg");
    background-repeat: repeat;
    background-position: center;
	/*color: var(--color1);*/
}

.bg-2:hover {
	background-image: url("../images/bg_banner-Purple2.jpg");
    background-repeat: repeat;
    background-position: center;
	color: var(--primary-text-color);
}

/* Accordian Content Arrows */
.panel-title {
	position: relative;
	alignment-baseline: text-top;
	margin: 0px;
	padding: 8px;
	cursor: pointer;
}

.panel-title span.arrow::before, .panel-title span.arrow::after {
	content: url("../images/arrow-down-gold-32.png");
}

.panel-title[aria-expanded="true"] span.arrow::before ,
.panel-title[aria-expanded="true"] span.arrow::after {
	content: url("../images/arrow-up-gold-32.png");
}

.panel-title:hover span.arrow::before, .panel-title:hover span.arrow::after {
	content: url("../images/arrow-down-purple-32.png");
}

.panel-title[aria-expanded="true"]:hover span.arrow::before ,
.panel-title[aria-expanded="true"]:hover span.arrow::after {
	content: url("../images/arrow-up-purple-32.png");
}

/* Read More/Less Buttons */
a .readMore {
    display: none;
}

a .readLess {
    display: inline;
}

a.collapsed .readMore {
    display: inline;
}

a.collapsed .readLess {
    display: none;
}

.descriptionText:not(.show) {
    min-height: 10.5em;
    height: 10.5em;
    display: block;
    overflow: hidden;
}

/* BUTTONS */

.btn {
    background-color: var(--primary-accent);
    color: var(--secondary-accent);
    font-weight: bold;
    border: thin var(--primary-text-color);
	margin: 5px;
}

.btn:hover {
    background-color: var(--secondary-accent);
    color: var(--primary-bg-color);
    font-weight: bold;
}

.btn-link:hover {
    text-decoration: underline;
    color: var(primary-text-color);
}

/* Card Flip */
.card-flip {
  -webkit-perspective: 1000px;
          perspective: 1000px;
}
.card-flip:hover .flip, .card-flip.hover .flip {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}

.card-flip,
.front,
.back {
  width: 100%;
  height: 480px;
}

.flip {
  transition: 0.6s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  position: relative;
}

.front,
.back {
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
  position: absolute;
  top: 0;
  left: 0;
}

.front {
  z-index: 2;
  -webkit-transform: rotateY(0deg);
          transform: rotateY(0deg);
}

.back {
  -webkit-transform: rotateY(180deg);
          transform: rotateY(180deg);
}
.card {
	background-color: var(--primary-accent);
}

/* FOOTER */

footer {
    background-color: var(--secondary-bg-color);
    color: var(--primary-text-color);
}

.footer-link {
    color: var(--secondary-text-color);
}

.footer-link:hover {
    color: var(--secondary-accent);
}